<template>
    <div style="position:relative" :class="{'open':openSuggestion}">
        <input class="new-weather" type="text" :value="value" placeholder="Show me the weather in..."
        @input="updateValue($event.target.value)"
        @keydown.enter = 'enter'
        @keydown.down = 'down'
        @keydown.up = 'up'
        >
        <ul class="dropdown-menu" style="width:100%">
            <li v-for="(suggestion, index) in suggestions"
                :class="{'active': isActive(index)}"
                @click="suggestionClick(index)" :key="index"
            >
              <a href="#">{{ suggestion.name }}</a>
            </li>
        </ul>
    </div>
</template>
<script>
import axios from 'axios'
export default {
  model: {
    prop: 'selection',
    event: 'select'
  },
  name: 'Autocomplete',
  props: {
    selection: {}
  },
  data () {
    return {
      suggestions: [],
      open: false,
      current: 0,
      value: ''
    }
  },
  computed: {
  // Filtering the suggestion based on the input
    openSuggestion () {
      return this.selection !== '' &&
             this.suggestions.length !== 0 &&
             this.open === true
    }
  },
  methods: {
    async updateValue (value) {
      this.value = value
      if (!value) {
        this.suggestions = []
      } else {
        try {
          const response = await axios.get(`http://localhost:8081/places?q=${value}`)
          this.suggestions = response.data
        } catch (error) {
          console.log(error)
        }
        if (this.open === false && this.suggestions) {
          this.open = true
          this.current = 0
        }
      }
    },

    // When enter pressed on the input
    enter () {
      this.$emit('select', this.suggestions[this.current])
      this.value = ''
      this.open = false
    },

    // When up pressed while suggestions are open
    up () {
      if (this.current > 0) {
        this.current--
      }
    },

    // When up pressed while suggestions are open
    down () {
      if (this.current < this.suggestions.length - 1) {
        this.current++
      }
    },

    // For highlighting element
    isActive (index) {
      return index === this.current
    },

    // When one of the suggestion is clicked
    suggestionClick (index) {
      this.$emit('select', this.suggestions[this.current])
      this.value = ''
      this.open = false
    }

  }
}
</script>

<style scoped>
.new-weather {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    text-align: center;
    border: none;
    color: inherit;
    padding: 16px;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
