<template>
<ul class="">
    <WeatherItem v-for="(weather, index) in weathers" :key="index"
    :name="weather.name" :lat="weather.lat" :lng="weather.lng" />
</ul>
</template>
<script>
import WeatherItem from './WeatherItem'

export default {
  props: ['weathers'],
  components: {WeatherItem}
}
</script>
<style scoped>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
