<template>
<li class="weather">
  <h2>{{name}}</h2>
  <div class="currently">
    <h3 class="desc">
      <em :class="weatherData.icon | wiIcons"></em>
      <span>{{weatherData.temperature}}</span>
    </h3>
    <div class="summary">
      <span>Humidity: {{weatherData.humidity}}%</span>
      <span>Wind: {{weatherData.windspeed}} kph</span>
    </div>
  </div>
  <div v-if="error" class="errors">
      {{error.message}}
  </div>
</li>
</template>
<script>
import axios from 'axios'
export default {
  name: 'WeatherItem',
  props: ['name', 'lat', 'lng'],
  data () {
    return {
      weatherData: {},
      error: undefined
    }
  },
  async created () {
    await this.getData()
    this.updatingData()
  },
  methods: {
    getData: async function () {
      try {
        const response = await axios.get(`http://localhost:8081/weather?lat=${this.lat}&lng=${this.lng}`)
        this.weatherData = response.data
        if (this.error) {
          this.error = undefined
        }
      } catch (e) {
        this.error = e
      }
    },
    updatingData: function () {
      const self = this
      setInterval(async function () {
        await self.getData()
      }, 20000)
    }
  },
  filters: {
    wiIcons: (icon) => {
      const prefix = 'wi wi-'
      let iconClass
      switch (icon) {
        case 'rain':
          iconClass = `${prefix}rain`
          break
        case 'snow':
          iconClass = `${prefix}snow`
          break
        case 'sleet':
          iconClass = `${prefix}sleet`
          break
        case 'hail':
          iconClass = `${prefix}hail`
          break
        case 'wind':
          iconClass = `${prefix}strong-wind`
          break
        case 'fog':
          iconClass = `${prefix}fog`
          break
        case 'cloudy':
          iconClass = `${prefix}cloudy`
          break
        case 'partly-cloudy-day':
          iconClass = `${prefix}day-cloudy-high`
          break
        case 'partly-cloudy-night':
          iconClass = `${prefix}night-partly-cloudy`
          break
        case 'clear-day':
          iconClass = `${prefix}day-sunny`
          break
        case 'clear-night':
          iconClass = `${prefix}night-clear`
          break
        default:
          iconClass = `${prefix}refresh`
          break
      }
      return iconClass
    }
  }
}
</script>

<style scoped>
.weather {
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    padding: 6px 0;
}
.weather h2 {
  margin: 5px 0;
}
.weather em {
  font-size: 38px;
}
</style>
