<template>
  <div id="app">
    <header>
      <h1>Weather App <em class="wi wi-day-cloudy"></em></h1>
    </header>
    <section class="main">
    <Autocomplete @select="selected($event)"></Autocomplete>
      <WeatherList :weathers="weathers"/>
    </section>
  </div>
</template>

<script>
import WeatherList from './components/WeatherList'
import Autocomplete from './components/Autocomplete'
export default {
  name: 'App',
  components: {WeatherList, Autocomplete},
  data () {
    return {
      selection: {
        type: Object
      },
      weathers: [
        {
          name: 'Tel Aviv-Yafo, Israel',
          lat: '32.0814',
          lng: '34.78'
        },
        {
          name: 'New York, NY, USA',
          lat: '40.7128',
          lng: '-74.006'
        }
      ]
    }
  },
  methods: {
    selected: function (value) {
      let weather = {}
      weather.name = value.name
      weather.lat = value.geo.lat
      weather.lng = value.geo.lng
      this.weathers.push(weather)
    }
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
header h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    color: #4474dc;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.main {
  background: #fff;
  margin: 80px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
</style>
